# ========================
# ENV FILES
# ========================
.env
**/.env

# ========================
# BACKEND
# ========================
backend/target/

# ========================
# FRONTEND
# ========================
frontend/node_modules/
frontend/dist/

# ========================
# ML SERVICE
# ========================
ml-service/__pycache__/
ml-service/*.pkl

# ========================
# IDE
# ========================
.vscode/
.idea/

# ========================
# LOGS
# ========================
*.log